/* src/components/Carousel.css */
.carousel {
   position: relative;
   width: 80%;
   margin: auto;
   overflow: hidden;
 }
 
 .carousel-image {
   width: 100%;
   display: block;
 }
 
 .carousel-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   color: white;
   font-size: 2em;
   cursor: pointer;
   padding: 10px;
 }
 
 .carousel-button.prev {
   left: 0;
 }
 
 .carousel-button.next {
   right: 0;
 }
 